@require(path_for)
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="@path_for('static',path='style.css')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error List</title>
</head>
<header>
    <div class="header-area">
        <h1 class="home-btn" onclick="location.href='/home'">Home</h1>
        <button class="logout-btn" id="home-login-btns" onclick="location.href='/logout'" style="margin: 20px auto;">Logout</button>
    </div>
    <button class="logout-btn" id="home-login-btns" onclick="location.href='/home'" style="margin: 20px; position: relative;  top: -70px;">Back</button>
    <hr style="position: relative; top: -70px;">
</header>
<body style="text-align: center;">
    <h1 style="float: left;">Validation Errors:</h1>
    <div class="filter">
        <button id="filters" class="filter-btn">&#9776; Filter</button>
            <div id="filter-nav" class="filter-panel">
                <p class="filter-text">Filter by</p>
                <label class="filter-labels" style="margin-left: 10px;" for="checkbox">
                    <input id="fixed" type="checkbox">
                    &#9989;
                </label>
                <br>
                <label class="filter-labels" style="margin-right: 10px;" for="checkbox">
                    <input id="non-fixed" type="checkbox">
                    &#10060;
                </label>
                <br>
                <p class="filter-items-onpage">Items on page</p>
                <select id="items-on-page">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            </div>
    </div>
    <div id="list-container"></div>
    <nav class="pagination-container" style="display: flex; justify-content: center;">
        <button class="pagination-button" id="prev-button" title="Previous page" aria-label="Previous page">&lt;</button>
        <div style="display: inline-flex;" id="pagination-numbers">
        </div>
        
        <button class="pagination-button" id="next-button" title="Next page" aria-label="Next page">&gt;</button>
    </nav>
    <!--  -->
    <br>
    <h2>Upload fixed file</h2>
    <label id="input-file">
        <input id="files" type="file" name="file" accept=".json"/>
        <p style="position: relative; top: 20%;">Upload </p>
    </label>
    <button id="run" class="run" onclick="RunScript()" disabled>Run Script</button>
    <script src="@path_for('static',path='json_run_script.js')"></script>
    <!--  -->
    <script src="@path_for('static',path='paging.js')"></script>
</body>
</html>