@require(path_for)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@path_for('static',path='style.css')">
    <title>Sign Up</title>
</head>
<body>
    <h1 onclick="location.href='/home'" style="cursor: pointer; text-align: center;  margin: 20px;">Home</h1>
    <form onsubmit="return false;" class="container" id="sign_up_form" autocomplete="off">
        <hr>
        <div class="reg-field">
                <label for="email"><b>Login</b></label>
                <br>
                <input type="text" id="login" name="login" placeholder="Login" required autocomplete="off" autofocus>
            <br>
                <label for="psw"><b>Password</b></label>
                <input type="password" name="password" id="password" placeholder="Password" required autocomplete="off">
            <br>
                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" name="verify" id="verify" placeholder="Repeat Password" required autocomplete="off">
            <br>
                
                <button type="submit" class="reg-btn" onclick="sumbitRegForm()">Sign Up</button>
            <br>
                <p class="login-p">Already have an account? <a onclick="location.href='/login'">Login</a></p>
        </form>
        <br>
        <!-- <button onclick="location.href='/counter'">Counter</button> -->
    </div>

    <script src="@path_for('static',path='registration.js')"></script>
</body>
</html>