@require(path_for, login)
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="@path_for('static',path='style.css')">
    <title>Requests</title>
</head>
<body>
    
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@path_for('static',path='style.css')">
    <title>Home</title>
</head>

<header>
    <div class="header-area">
        <h1 class="home-btn" style="cursor: default; position: relative;">Hello, @login</h1>
        <button class="logout-btn" id="home-login-btns" onclick="location.href='/logout'" style="margin: 20px auto;">Logout</button>
    </div>
    <button class="logout-btn" id="home-login-btns" onclick="location.href='/home'" style="margin: 20px; position: relative;  top: -70px;">Back</button>
    <hr style="position: relative; top: -70px;">
</header>
<body>
    <label for="pet-select">Choose a pet:</label>

    <select name="pets" id="pet-select">
        <option value="">--Please choose an option--</option>
        <option value="dog">Admin</option>
        <option value="dog">Gamer</option>
    </select>

    <div style="display: flex; justify-content: center;">
        <div class="dashboard">
            <button type="submit" id="submit-btn">Submit</button>
        </div>
    </div>
</body>
</html>