@require(path_for, error)
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="@path_for('static',path='style.css')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error List</title>
</head>
<header>
    <div class="header-area">
        <h1 class="home-btn" style="cursor: default; position: relative;">Hello</h1>
        <button class="logout-btn" id="home-login-btns" onclick="location.href='/logout'" style="margin: 20px auto;">Logout</button>
    </div>
    <button class="logout-btn" id="home-login-btns" onclick="location.href='/home'" style="margin: 20px; position: relative;  top: -70px;">Back</button>
    <hr style="position: relative; top: -70px;">
</header>
<body>
    <h1>Validation Errors:</h1>
    <table style="border: 2px solid #343a40;">
    @for err in error:
        <tr>@err</tr>
        <br>
    @endfor
    </table>
</body>
</html>